apiVersion: apps/v1
kind: Deployment
metadata:
  name: photon
spec:
  selector:
    matchLabels:
      app: photon
  replicas: 1
  template:
    metadata:
      labels:
        app: photon
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: kubernetes.io/arch
                  operator: In
                  values:
                  - amd64
      containers:
        - name: photon
          image: rtuszik/photon-docker:latest
          imagePullPolicy: Always
          ports:
          - containerPort: 2322
            protocol: TCP
            name: http
          env:
            - name: UPDATE_STRATEGY
              value: "PARALLEL"
            - name: UPDATE_INTERVAL
              value: "30d"
          # resources:
          #  requests:
          #     memory: "50Mi"
          #     cpu: "50m"
          #   limits:
          #     memory: "200Mi"
          #     cpu: "1"
          volumeMounts:
          - name: data
            mountPath: /photon/data
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: photon-data
