apiVersion: v1
kind: PersistentVolume
metadata:
  name: nslocationhistory-services-photon
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 300Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: "vault.leachnet"
    path: "/mnt/decavault/services/photon"