apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: photon-data
  namespace: locationhistory
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 300Gi
  storageClassName: "manual"
  volumeName: "nslocationhistory-services-photon"