apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: democratic-csi
  namespace: argocd
spec:
  project: infrastructure
  sources:
    - repoURL: 'https://democratic-csi.github.io/charts/'
      chart: democratic-csi
      targetRevision: 0.15.0
      helm:
        valuesObject:
          csiDriver:
            name: "org.democratic-csi.nfs"

          storageClasses:
          - name: vault-fast-nfs
            defaultClass: false
            reclaimPolicy: Retain
            volumeBindingMode: Immediate
            allowVolumeExpansion: true
            parameters:
              fsType: nfs
                
            mountOptions:
            - noatime
            - nfsvers=4
            secrets:
              provisioner-secret:
              controller-publish-secret:
              node-stage-secret:
              node-publish-secret:
              controller-expand-secret:
          
          controller:
            driver:
              image:
                # Required for TrueNAS 25.04
                registry: docker.io/democraticcsi/democratic-csi
                tag: next

          driver:
            image:
              # Required for TrueNAS 25.04
              registry: docker.io/democraticcsi/democratic-csi
              tag: next
            existingConfigSecret: democratic-csi
            config:
              driver: freenas-api-nfs
              
              # Backfilled from secret

          node:
            kubeletHostPath: /var/lib/kubernetes

    - repoURL: 'https://github.com/duckfullstop/infra-ln/'
      path: k8s/applications/infrastructure/democratic-csi/manifests
      targetRevision: main
  destination:
    namespace: kube-system
    name: leachnet
  syncPolicy:
    syncOptions:
      - ServerSideApply=true
  ignoreDifferences:
    # https://github.com/argoproj/argo-cd/issues/13585
    - group: storage.k8s.io
      kind: CSIDriver
      jqPathExpressions:
        - .spec.seLinuxMount