apiVersion: v1
kind: PersistentVolume
metadata:
  name: nsmedia-vault-downloads-duck-torrents-complete
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteMany
  nfs:
    server: "vault.leachnet"
    path: "/mnt/decavault/downloads/duck/torrents/complete"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nsmedia-vault-media-pvr
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteMany
  nfs:
    server: "vault.leachnet"
    path: "/mnt/decavault/media/pvr"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nsmedia-vault-media-video
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteMany
  nfs:
    server: "vault.leachnet"
    path: "/mnt/decavault/media/video"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nsmedia-vault-media-music
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteMany
  nfs:
    server: "vault.leachnet"
    path: "/mnt/decavault/media/video"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: plex-config
  labels:
    type: local
spec:
  # unfortunately this PV has to be done with host-local storage
  # plex doesn't like having its configuration on NFS due to locks / massive performance penalties
  # and setting up iSCSI is untenable as my volume names are too long for the iSCSI 64-char limit
  # still, make do and mend
  storageClassName: manual
  capacity:
    storage: 50Gi
  accessModes:
    - ReadWriteOnce
  local:
    path: "/persist/plex"
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - ln-k8s-wkr-1.leachnet