apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-downloads-duck-torrents-complete
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  storageClassName: "manual"
  volumeName: "nsmedia-vault-downloads-duck-torrents-complete"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-media-pvr
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  storageClassName: "manual"
  volumeName: "nsmedia-vault-media-pvr"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-media-video
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  storageClassName: "manual"
  volumeName: "nsmedia-vault-media-video"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-media-music
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  storageClassName: "manual"
  volumeName: "nsmedia-vault-media-music"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-config
spec:
  resources:
    requests:
      storage: 50Gi
  accessModes:
    - ReadWriteOnce
  # unfortunately unable to use NFS for the config directory
  # see PV for details
  storageClassName: "manual"
  volumeName: "plex-config"
