apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
spec:
  project: infrastructure
  sources:
    - repoURL: 'https://argoproj.github.io/argo-helm'
      targetRevision: 8.3.*
      chart: argo-cd
      helm:
        valuesObject:
          configs:
            cm:
              create: true
              dex.config: |
                connectors:
                - config:
                    issuer: https://id.duck.moe
                    clientID: 34b6be42-3bd5-4d82-ade9-3a7f4e097e06
                    clientSecret: $oidc.identiduck.clientSecret
                    insecureEnableGroups: true
                    scopes:
                      - openid
                      - profile
                      - email
                      - groups
                  name: identiduck.
                  type: oidc
                  id: ducknet
              url: 'https://argocd.net.theleachfamily.me.uk'
            params:
              server.insecure: "true"
              controller.diff.server.side: "true"
            rbac:
              policy.csv: |
                g, leachnet_ops, role:admin
            secret:
              createSecret: false
          server:
            certificate:
              enabled: true
              secretName: argocd-server-tls
              domain: argo.net.theleachfamily.me.uk
              issuer:
                group: "cert-manager.io"
                kind: "ClusterIssuer"
                name: "letsencrypt-http-prod"
          ingress:
            enabled: true
            annotations:
              traefik.ingress.kubernetes.io/router.entrypoints: websecure
            ingressClassName: traefik
            hosts:
              - argo.net.theleachfamily.me.uk
            tls:
              - hosts:
                  - argo.net.theleachfamily.me.uk
                secretName: argocd-server-tls
            # -- Uses `server.service.servicePortHttps` instead of `server.service.servicePortHttp`
            https: false

    - repoURL: 'https://github.com/duckfullstop/infra-ln/'
      path: k8s/applications/infrastructure/argocd/manifests
      targetRevision: main
  destination:
    namespace: argocd
    name: leachnet
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
